*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* .container{
  width: 100vw;
  min-height: 100vh;
  background-color: #FFF4EA;
} */

.content {
  padding-top: 168px;
  background-color: #FFF4EA;
}

